*{
    margin: 0;
    padding: 0;
}
footer{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
footer>div{
    display: flex;
    /* 改写弹性布局了 */
}
footer>span{
    color: #86868b;
}
footer ul{
    list-style: none;
}
footer ul>li{
    font-size: 15px;
    margin-bottom: 10px;
    color: #86868b;
}
footer>div>div{

}